@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
@layer utilities {
  ul.nav-active-selector .active {
    @apply text-white font-medium;
  }
  .container {
    max-width: 1200px !important;
  }
  .main-nav a:hover span,
  .main-nav a.active span {
    width: 60%;
  }
}
